.about-coin{
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  overflow: auto;

}

.coin-name{
  color:rgb(1, 118, 220);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20pt;
  margin: 10px;
}

.coin-description{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14pt;
  margin: 30px;
}

.coin-diagram img{
  width: 800px;
  height: 600px;
}
